<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guides</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/guides.css" />
  </head>
  <body>
    <!-- Include Header -->
    <%- include('partials/header') %>

    <div class="gridContainer">
      <!-- Sidebar containing guide links -->
      <div class="aside">
        <div class="sideNav">
          <ul id="sideNavGrid">
            <% if (guides && guides.length > 0) { %> <% guides.forEach(guide =>
            { %>
            <li>
              <a href="/guides/<%= guide._id %>"> <%= guide.tittel %> </a>
            </li>
            <% }) %> <% } else { %>
            <li>No guides available.</li>
            <% } %>
          </ul>
        </div>
      </div>

      <!-- Main content area -->
      <main class="mainContainer">
        <% if (selectedGuide) { %>
        <div class="guide">
          <h1><%= selectedGuide.tittel %></h1>
          <p><strong>Tag:</strong> <%= selectedGuide.tag %></p>
          <p><strong>Author:</strong> <%= selectedGuide.author.email %></p>

          <div class="sectionsContainer">
            <% selectedGuide.overskrift.forEach((section, i) => { %>
            <div class="sectionItem">
              <h2>Section <%= i + 1 %>: <%= section %></h2>
              <p><%= selectedGuide.beskrivelse[i] %></p>

              <% if (selectedGuide.bilde[i]) { %>
              <img
                src="/<%= selectedGuide.bilde[i].path.slice(7)%>"
                alt="Section Image"
                class="sectionImage"
              />
              <% } %>
            </div>
            <% }) %>
          </div>

          <!-- Delete Button - Only show if the user is the author -->
          <% if (isAuthor) { %>
          <form
            action="/guides/<%= selectedGuide._id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit" class="deleteButton">Delete Guide</button>
          </form>
          <form action="/guides/<%= selectedGuide._id %>/edit" method="GET">
            <button type="submit" class="editButton">Edit Guide</button>
          </form>
          <% } else { %>
          <p>You are not the author of this guide.</p>
          <% } %>
        </div>
        <% } else { %>
        <div id="ifNoGuidesWelcome">
          <h1>Welcome to Guides</h1>
          <p>Please select a guide from the sidebar to view its content.</p>
        </div>

        <% } %>
      </main>
    </div>
  </body>
</html>
