<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guides</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/app.js"></script>
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="gridContainer">
      <div class="aside">
        <div class="sideNav">
          <ul id="sideNavGrid">
            <% if (guides && guides.length > 0) { %> <% guides.forEach((guide,
            index) => { %>
            <li>
              <button
                onclick="document.getElementById('guide<%= index + 1 %>').scrollIntoView({ behavior: 'smooth' });"
              >
                Guide <%= index + 1 %>
              </button>
            </li>
            <% }) %> <% } else { %>
            <li>No guides available.</li>
            <% } %>
          </ul>
        </div>
      </div>
      <ul class="mainContainer">
        <% if (guides && guides.length > 0) { %> <% guides.forEach((guide,
        index) => { %>
        <li id="guide<%= index + 1 %>" class="guides">
          <h1><%= guide.tittel %></h1>
          <div class="imageTextContainer">
            <% if (guide.bilde && guide.bilde.length > 0) { %> <%
            guide.bilde.forEach((filename) => { %>
            <img src="/uploads/<%= filename %>" alt="Guide Image" />
            <% console.log("Guide images:", guide.bilde); %> <% }) %> <% } else
            { %>
            <p>No images available.</p>
            <% } %>
            <p><%= guide.beskrivelse.join(", ") %></p>
          </div>
        </li>
        <% }) %> <% } else { %>
        <li>No guides available.</li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
